.cart_item {
  background-color: var(--product-bg);
}
.remove_btn,
.move_to_btn {
  background: none;
  font-family: inherit;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.1s;
}

.remove_btn{
  color: #670000;
}
.move_to_btn{
  color: var(--navbar-color);
}
@media (min-width: 1024px) {
  .cart_item {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.8rem;
    gap: 1.5rem;
  }
  .item_img > img {
    border-radius: 1.8rem;
  }
  #qty {
    border: 1px solid #814326;
    padding: 4px 9px;
    border-radius: 2px;
    width: fit-content;
  }
  #minus {
    border: 1px solid #814326;
    border-radius: 50%;
    padding: 4px 9px;
    margin: 0.5rem;
    margin-left: 0;
    cursor: pointer;
    background: none;
    width: fit-content;
  }
  #add {
    border: 1px solid #814326;
    border-radius: 50%;
    padding: 4px 9px;
    margin: 0.5rem;
    cursor: pointer;
    background: none;
    width: fit-content;
  }
  .remove_btn,
  .move_to_btn {
    font-size: 18px;
  }
  .remove_btn:hover, .move_to_btn:hover{
    opacity: 0.8;
  }
  .item_details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
