.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_content {
  background-color: var(--bg2-color);
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.login_content > h2 {
  margin: 0;
}
.login_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.login_form > input {
  height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem;
  border: 1px solid var(--navbar-color);
}
.email_input::placeholder {
  color: #e5c3a2;
}
.login_test_creds {
  background-color: #622825;
  padding: 8px;
  color: #f3e2d2;
  border-radius: 0.5rem;
}
.login_test_creds:hover {
  opacity: 0.9;
}
#new_acc {
  text-decoration: none;
  color: #622825;
  text-decoration: underline;
}
#new_acc:hover {
  opacity: 0.9;
}

.login_btn {
  background-color: #622825;
  padding: 8px 15px;
  color: #f3e2d2;
  border-radius: 0.5rem;
  width: fit-content;
  align-self: center;
  cursor: pointer;
}
.login_btn:hover {
  opacity: 0.9;
}

.password_btn {
  color: #622825;
  position: absolute;
  right: 0.8rem;
  top: 6.9rem;
  cursor: pointer;
}
