.filter {
  /* width: 5%;
  font-size: 13px; */
  background-color: var(--bg-for-components);
  border-radius: 1.8rem;
}
.products {
  margin-left: 1.5rem;
  background-color: var(--bg-for-components);
  margin-top: 0;
  border-radius: 1.8rem;
}
input {
  accent-color: #622825;
}

@media (min-width: 1024px) {
  .product_page {
    margin: 16px;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }
  .filter_header {
    display: flex;
    justify-content: space-between;
  }
  .filter {
    padding: 10px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 8;
  }
  .products {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .clear_btn {
    border: none;
    padding: 0.3rem;
    margin: 0.5rem;
    font-family: inherit;
    color: white;
    background-image: linear-gradient(
      135deg,
      rgb(199, 108, 66) 0%,
      rgb(145, 56, 44) 100%
    );
    width: 40%;
    border-radius: 1rem;
    cursor: pointer;
    height: 40px;
    align-self: center;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 19px;
    margin: 15px 0;
  }
  .filter_items {
    display: flex;
    flex-direction: column;
  }
}
