.header {
    background-color: var(--bg2-color);
    padding: 1.5em;
    margin: 1.5em;
    display: flex;
    border-radius: 1.8em;
    margin-top: 0;
    text-transform: uppercase;
  }
  .header img {
    border-radius: 1.8em;
  }
  .heading {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
  }
  .home_page_btn {
    border: none;
    padding: 1rem;
    font-family: inherit;
    color: white;
    background-image: linear-gradient(
      135deg,
      rgb(199, 108, 66) 0%,
      rgb(145, 56, 44) 100%
    );
    align-self: center;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .home_page_btn:hover {
    color: var(--text-color-hover2);
  }
  .category {
    display: flex;
  }
  .item {
    background-color: var(--bg2-color);
    margin: 0.5rem;
    width: 35ch;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    text-align: center;
  }
  .item h3 {
    margin-bottom: 0;
  }
  @media (min-width: 400px) {
    .header img {
      object-fit: cover;
      width: 210px;
      height: 220px;
    }
    .header {
      overflow: hidden;
    }
    .heading {
      font-size: 10px;
    }
    .category {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (min-width: 1024px) {
    .category {
      flex-direction: row;
      justify-content: space-evenly;
      
    }
    .heading {
      font-size: 28px;
      line-height: 2.5em;
    }
    .header img {
      width: 700px;
      height: 500px;
    }
  }
  