@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");
/* *{
  margin: 0;
  padding: 0;
} */
:root {
  --main-bg-color: #f3e2d2;
  --navbar-color: #371211;
  --text-color-1: #d8a071;
  --text-color-hover: #bc560a;
  --text-color-hover2: #e5c3a2;
  --text-color-active: #d8a071;
  --bg2-color: #d8a071;
}
body {
  background-color: var(--main-bg-color);
  font-family: "Comfortaa", cursive;
}
nav {
  background-color: var(--navbar-color);
  padding: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1.8rem;
  margin-bottom: 15px;
}
.navName {
  text-decoration: none;
  color: var(--text-color-1);
}
.navName:hover{
    color: var(--text-color-hover);
}
/* .navName.active {
    color: var(--text-color-active);
  } */
.other_routes {
  font-weight: 500;
  display: flex;
  align-items: center;
}
#chococart {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

